@import 'src/styles/variables';
@import 'src/styles/mixins';

.button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: fit-content;
  white-space: nowrap;
  @include flex(row, center, center, nowrap);
  box-sizing: border-box;
  color: $text-btn-color-white;

  &.default {
    background: $bg-btn-default;
    border-radius: 18px;
    border: 1px solid $border-btn-default;
  }

  &.filled,&.outline {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  &.filled {
    background: $color-accent;
    border-radius: 16px;
    padding: 24px 54px;
    &:hover, &:focus {
      background: $bg-btn-filled-hover;
    }
  }
  &.outline {
    border: 2px solid $color-accent;
    border-radius: 18px;
    &:hover, &:focus {
      background: $color-accent;
    }
  }
  &.sm {
    padding: 8px 30px 11px;
    text-transform: none;
    border-radius: 8px;
  }
  &.disabled {
    cursor: not-allowed;
    background: transparent;
    opacity: 0.2;
    border: 1.52381px solid $text-btn-disabled;
    color: #F0F0F0;
    &:hover, &:focus {
      background: transparent;
      opacity: 0.4;
    }
  }
}
