@import 'src/styles/mixins';

$bg-default: white;
$color-default: black;
$border-default: gray;

.button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: fit-content;
  white-space: nowrap;
  @include flex(row, center, center, nowrap);
  box-sizing: border-box;

  &.default {
    background: $bg-default;
    color: $color-default;
    border-radius: 18px;
    border: 1px solid $border-default;
  }

  &.sm {

  }
  &.md {

  }
  &.lg {

  }

  &.filled {

    &:hover,
    &:focus {

    }
  }
  &.outline {

    &:hover,
    &:focus {

    }
  }

  &.disabled {

    &:hover,
    &:focus {

    }
  }
}
