@import '../../assets/styles/variables';

.button {
  width: fit-content;
  cursor: pointer;
  border-radius: $button-border-radius;

  &.outlined {
    background: var(--button-outlined-default-background);
    border: $button-border-width solid var(--button-outlined-default-border);
    color: var(--button-outlined-default-color);

    &:hover {
      background: var(--button-outlined-hover-background);
      border: $button-border-width solid var(--button-outlined-hover-border);
      color: var(--button-outlined-hover-color);
      background-origin: border-box;
    }

    &:active {
      background: var(--button-outlined-active-background);
      border: $button-border-width solid var(--button-outlined-active-border);
      color: var(--button-outlined-active-color);
      background-origin: border-box;
    }
  }

  &.filled {
    background: var(--button-filled-default-background);
    border: $button-border-width solid var(--button-filled-default-border);
    color: var(--button-filled-default-color);

    &:hover {
      background: var(--button-filled-hover-background);
      border: $button-border-width solid var(--button-filled-hover-border);
      color: var(--button-filled-hover-color);
    }

    &:active {
      background: var(--button-filled-active-background);
      border: $button-border-width solid var(--button-filled-active-border);
      color: var(--button-filled-active-color);
    }
  }


  &.lg {
    padding: $lg-button-padding;
  }

  &.md {
    padding: $md-button-padding;
  }

  &.sm {
    padding: $sm-button-padding;
  }
}
