////button
//outlined
$default-button-outlined-default: 'transparent';
$default-button-outlined-hover: 'linear-gradient(90deg, #291AED 0%, #C59AFC 100%)';
$default-button-outlined-active: '#8A7FF6';
//filled
$default-button-filled-default: 'linear-gradient(90deg, #291AED 0%, #C59AFC 100%)';
$default-button-filled-hover: 'linear-gradient(90deg, #BF8FFB 0%, #877EF6 100%)';
$default-button-filled-active: '#8A7FF6';

//common
$default-button-disabled: '#191A1D';
