@import '/src/styles/index';

.сheckout {
  width: 350px;
  height: 224px;
  background: #191a1d;
  border: 1px solid #1e2023;
  box-sizing: border-box;
  border-radius: 4px;
  color: #f2f2f2;
  &:hover {
    border: 1px solid #8a7ff6;
  }
  .mainContainer {
    width: 85%;
    margin: 0 auto;
    margin-top: 24px;

    .titleWrapper {
      display: flex;
      margin-bottom: 17px;

      .logo {
        width: 48px;
        height: 48px;
        background: linear-gradient(90deg, #291aed 0%, #c59afc 100%);
        border-radius: 50%;
        position: relative;

        img {
          position: absolute;
        }
        img:first-child {
          top: 9px;
          left: 14px;
        }
        img:last-child {
          top: 26px;
          left: 14px;
        }
      }
      .title {
        align-self: center;
        margin-left: 23px;
        order: 1;
      }
    }
    .description {
      color: #c4c4c4;
    }
  }
}
