@import 'src/styles/variables';
@import 'src/styles/mixins';

.vesting_wrapper {
  background: $bg-btn-default;
  border: 1px solid $border-btn-default;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 48px 25px 34px 27px;
  width: 100%;
  @include flex(column, center);

  .count {
    font-weight: 300;
    font-size: 72px;
    line-height: 87px;
    margin-bottom: 42px;
    span {
      margin-left: 5px;
      font-size: 32px;
      line-height: 39px;
    }
  }
  .timer_tracking {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 42px;
  }

  .stage {
    width: 100%;
    background: $bg-btn-default;
    border: 1px solid $border-btn-default;
    border-radius: 10px;
    padding: 10px 10px 9px 16px;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @include flex(row, center, space-between);
    font-size: 24px;
    line-height: 29px;
    &_btn {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }
  }
}
