@import '/src/assets/styles/component-variables/color-constants';

$checkboxColorsDefault: (
  // default
  "checkbox-default-border-color": $colorGrey600,
  "checkbox-default-background-color": $colorGullGrey,
  // hover
  "checkbox-hover-border-color": $colorJasmineYellow,
  "checkbox-hover-background-color": $colorGullGrey,
  // checked
  "checkbox-checked-border-color": $colorJasmineYellow,
  "checkbox-checked-background-color": $colorJasmineYellow,
  "checkbox-checked-icon-color": $colorBerryHead,
  

);

$checkboxColorsLight: (
);