$colorGreenGradient: #D4FB50;
$colorGreenAcid: #8A7FF6;
$colorGreen700: #E9D9FE;
// Dark
$colorBlackBG: #111215;
$colorBlack700: #191A1D;
$colorBlack600: #1E2023;
$colorBlack500: #25272E;
// Light
$colorGrey700: #64656A;
$colorGrey600: #C4C4C4;
$colorGrey500: #F2F2F2;

// Others
$colorBlue: #6FB0FE;
$colorYellow: #F3CE5D;
$colorRed: #FF4040;
$colorGreen: #6CDC13;
$colorWhite: #FFFFFF;



