$filled-secondary-button-border-width: 1px;

$filledSecondaryButtonColorsDefault: (
  //default
  "filled-secondary-button-secondary-default-font": #64656A,
  "filled-secondary-button-secondary-default-icon": #64656A,
  "filled-secondary-button-secondary-default-border": #25272E,
  "filled-secondary-button-secondary-default-background": #1E2023,
  // hover
  "filled-secondary-button-secondary-hover-font": #8A7FF6,
  "filled-secondary-button-secondary-hover-icon": #8A7FF6,
  "filled-secondary-button-secondary-hover-border": transparent,
  "filled-secondary-button-secondary-hover-background": #1E2023,
  // active
  "filled-secondary-button-secondary-active-font": #8A7FF6,
  "filled-secondary-button-secondary-active-icon": #8A7FF6,
  "filled-secondary-button-secondary-active-border": #8A7FF6,
  "filled-secondary-button-secondary-active-background": #1E2023,
);

$filledSecondaryButtonColorsLight: (
  //default
  "filled-secondary-button-secondary-default-font": #2E3A59,
  "filled-secondary-button-secondary-default-icon": #6C778F,
  "filled-secondary-button-secondary-default-border": #DFE3EC,
  "filled-secondary-button-secondary-default-background": #FFFFFF,
  // hover
  "filled-secondary-button-secondary-hover-font": #8A7FF6,
  "filled-secondary-button-secondary-hover-icon": #8A7FF6,
  "filled-secondary-button-secondary-hover-border": #DFE3EC,
  "filled-secondary-button-secondary-hover-background": #FFFFFF,
  // active
  "filled-secondary-button-secondary-active-font": #8A7FF6,
  "filled-secondary-button-secondary-active-icon": #8A7FF6,
  "filled-secondary-button-secondary-active-border": #8A7FF6,
  "filled-secondary-button-secondary-active-background": #FFFFFF,
);