@import './color-constants';

$bicon-utton-border-width: 1px;

$iconButtonColorsDefault: (
  ////outlined
  //background
  "icon-button-outlined-default-background": none,
  "icon-button-outlined-hover-background": none,
  "icon-button-outlined-active-background": none,
  //border
  "icon-button-outlined-default-border": none,
  "icon-button-outlined-hover-border": none,
  "icon-button-outlined-active-border": none,
  //icon
  "icon-button-outlined-default-icon-color": $colorUniqueGrey,
  "icon-button-outlined-hover-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-active-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-disabled-icon-color": $colorGrey700,
  ////outlined-secondary
  //background
  "icon-button-outlined-secondary-default-background": none,
  "icon-button-outlined-secondary-hover-background": $colorBlack600,
  "icon-button-outlined-secondary-active-background": $colorBlack600,
  "icon-button-outlined-secondary-disabled-background": none,
  //border
  "icon-button-outlined-secondary-default-border": none,
  "icon-button-outlined-secondary-hover-border": none,
  "icon-button-outlined-secondary-active-border": none,
  //icon
  "icon-button-outlined-secondary-default-icon-color": $colorUniqueGrey,
  "icon-button-outlined-secondary-hover-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-secondary-active-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-secondary-disabled-icon-color": $colorGrey700,
  ////filled
  //background
  "icon-button-filled-default-background": $colorOnyx,
  "icon-button-filled-hover-background": $colorOnyx,
  "icon-button-filled-active-background": $colorOnyx,
  "icon-button-filled-disabled-background": $colorOnyx,
  //border
  "icon-button-filled-default-border": $colorBlack500,
  "icon-button-filled-hover-border": $colorLightPurplishBlue,
  "icon-button-filled-active-border": $colorLightPurplishBlue,
  "icon-button-filled-disabled-border": $colorOnyx,
  //icon
  "icon-button-filled-default-icon-color": $colorLightPurplishBlue,
  "icon-button-filled-hover-icon-color": $colorLightPurplishBlue,
  "icon-button-filled-active-icon-color": $colorLightPurplishBlue,
  "icon-button-filled-disabled-icon-color": $colorGrey700,
);

$iconButtonColorsLight: (
  ////outlined
  //background
  "icon-button-outlined-default-background": none,
  "icon-button-outlined-hover-background": none,
  "icon-button-outlined-active-background": none,
  //border
  "icon-button-outlined-default-border": none,
  "icon-button-outlined-hover-border": none,
  "icon-button-outlined-active-border": none,
  //icon
  "icon-button-outlined-default-icon-color": $colorMediumSlate,
  "icon-button-outlined-hover-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-active-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-disabled-icon-color": $colorGrey700,
  ////outlined-secondary
  //background
  "icon-button-outlined-secondary-default-background": none,
  "icon-button-outlined-secondary-hover-background": $colorGlacierWhite,
  "icon-button-outlined-secondary-active-background": $colorGlacierWhite,
  //border
  "icon-button-outlined-secondary-default-border": none,
  "icon-button-outlined-secondary-hover-border": none,
  "icon-button-outlined-secondary-active-border": none,
  //icon
  "icon-button-outlined-secondary-default-icon-color": $colorMediumSlate,
  "icon-button-outlined-secondary-hover-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-secondary-active-icon-color": $colorLightPurplishBlue,
  "icon-button-outlined-secondary-disabled-icon-color": $colorGrey700,
  ////filled
  //background
  "icon-button-filled-default-background": $colorWhite,
  "icon-button-filled-hover-background": $colorWhite,
  "icon-button-filled-active-background": $colorWhite,
  //border
  "icon-button-filled-default-border": $colorGlacierWhite,
  "icon-button-filled-hover-border": $colorGreenAcid,
  "icon-button-filled-active-border": $colorGreenAcid,
  //icon
  "icon-button-filled-default-icon-color": $colorBlueValley,
  "icon-button-filled-hover-icon-color": $colorGreenAcid,
  "icon-button-filled-active-icon-color": $colorGreenAcid,
  "icon-button-filled-disabled-icon-color": $colorGrey700,
);
