$toastify-border-width: 1px;
$toastify-tost-width: 454px;

$toastifyColorsDefault: (
  // main colors
  "toastify-default-color": #191A1D,
  "toastify-secondary-color": #64656A,
  // info colors
  "toastify-info-color": #64656A,
  "toastify-info-font-color": #64656A,
  "toastify-info-icon-color": #64656A,
  // warning colors
  "toastify-warning-color": #F2C94C,
  "toastify-warning-font-color": #F2C94C,
  // error colors
  "toastify-error-color": #FF4040,
  "toastify-error-font-color": #FF4040,
  // success colors
  "toastify-success-color": #6CDC13,
  "toastify-success-font-color": #6CDC13, 
  "toastify-success-icon-color": #8A7FF6,
  
);

$toastifyColorsLight: (
  // main colors
  "toastify-default-color": #FFFFFF,
  "toastify-secondary-color": #6FB0FE,
  // info colors
  "toastify-info-color": #6FB0FE,
  "toastify-info-icon-color": #6FB0FE,
  "toastify-info-font-color": #2E3A59, 
  //warning colors 
  "toastify-warning-color": #F2C94C,
  "toastify-warning-font-color": #2E3A59, 
  // error colors
  "toastify-error-color": #FF4040,
  "toastify-error-font-color": #2E3A59,
  // success colors
  "toastify-success-color": #6CDC13,
  "toastify-success-font-color": #2E3A59,
  "toastify-success-icon-color": #6CDC13,
);