@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


.switcherContainer { 
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
  border-radius: 34px;
  border: $switcher-border-width solid var(--switcher-default-border-color);
}

.checkbox {display:none;}

// .checkbox:checked + .slider {
//   background-color: -var(--switcher-checked-background);
// }

.checkbox:checked + .switcher:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switcher-checked-background);
  -webkit-transition: .4s;
  transition: .4s;
  .switcher:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--switcher-default-background);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
}
