@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.slider {
  background: var(--slider-default-background);
  border-radius: 5px;
  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  
}